# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# -------------------------
# Virtual environment
# -------------------------
venv311/


# -------------------------
# Streamlit secrets
# -------------------------
.streamlit/secrets.toml

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/
*.swp

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db

